.app-content {
    margin-left: $sidebar-width;
    transition: $transition-base;
    display: flex;
    flex-flow: column nowrap;
    width: $full;
    @include breakpoint(sm){
        margin-left: 0;
    }
    .sidebar-collapse &{
    	margin-left: $sidebar-mini-width;
    }
    .app-wrapper {
		margin-top: $header-height;
	    padding: $gutter-space;
	    width: $full;
	    flex: 1;
        position: relative;

        @include breakpoint(sm){
            margin-top: $header-height-m;
        }
	}
}

.content-header{
    .btn-filter{
        margin-bottom: 10px;
    }
}

.organisation-filter {
    width: 100%;
    max-width: 300px;
}