/*  */
/* Datatables Override */

table.dataTable.no-footer {
    border-bottom: 1px solid transparent;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #dee2e6;
}
table.dataTable td a{
    color: #767676;
}

table.dataTable td a.green{
    color:#28a745;
}
table.dataTable td a.red{
    color:#dc3545;
}

.dataTables_filter input[type=search], .dataTables_length select{
    border: 1px solid #e2e2e4;
    box-shadow: none;
    color: #c2c2c2;
    font-size: 12px;
    padding: 6px;
    border-radius: 0.25rem;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px;
}

.dataTables_paginate a {
    border: 1px solid #dee2e6 !important;
    margin-left: 0 !important;
    border-radius: 0 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
    color:#dee2e6 !important;
}
.paginate_button.current, 
.paginate_button:hover{
    background: #1fb5ad !important;
    color: #fff !important;
    border-color: #1fb5ad !important;
}